@{
    ViewData["Title"] = "Links Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h3>DWorkin Links</h3>
    </div>
    <div class="card-footer text-left">
        <ul style="list-style-type:square;">
            <li><a href="https://worklog.dworkin.eu/" target="_blank">DWorkin - Worklog</a></li>
            <li><a href="https://inotes.dworkin.eu/" target="_blank">DWorkin - WEB-Mail</a></li>
            <li><a href="https://album.dworkin.eu/" target="_blank">DWorkin - Filestorage </a></li>
        </ul>
    </div>
    <div class="card-header">
        <h3>Tool Links</h3>
    </div>
    <div class="card-footer text-left">
        <ul style="list-style-type:square;">
            <li><a href="https://app.diagrams.net/" target="_blank">DrawIO</a></li>            
        </ul>
    </div>
</div>
