@{
    ViewData["Title"] = "Administration Page";
}

    <div class="card">
        <div class="card-header">
            <h3>Administration</h3>
        </div>
        <div class="card-footer">
            <a asp-action="ListRoles" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Roles</a>
        </div>
        <div class="card-footer">
            <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Users</a>
        </div>
    </div>