@{
    ViewData["Title"] = "Administration Page";
}

<div class="card card-columns">
    <div class="card-header">
        <h3>User Administration</h3>
    </div>
    <div class="card-footer">
        <a asp-action="ListRoles" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Roles</a>
        - Administrate User Roles
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Users</a>
        - Administrate Users
    </div>
</div>
@*<div class="card card-columns">
    <div class="card-header">
        <h3>Sallaries Administration</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexSallaryAccounts" asp-controller="Sallaries" class="btn btn-sm btn-outline-success">Go to SallaryAccounts</a>
        - Administrate User Roles
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Users</a>
        - Administrate Users
    </div>
</div>
<div class="card card-columns">
    <div class="card-header">
        <h3>Application Administration</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearch" asp-controller="Arenas" class="btn btn-sm btn-outline-success">Go to Arenas</a>
        - Administrate Arenas
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearch" asp-controller="Clubs" class="btn btn-sm btn-outline-success">Go to Clubs</a>
        - Administrate Clubs
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearch" asp-controller="Districts" class="btn btn-sm btn-outline-success">Go to Districts</a>
        - Administrate Districts
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Games</a>
        - Administrate Games
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to People</a>
        - Administrate People
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Series</a>
        - Administrate Series
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Teams</a>
        - Administrate Teams
    </div>
    <div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Tournaments</a>
        - Administrate Tournaments
    </div>
</div>
<div class="card card-columns">
    <div class="card-header">
        <h3>Testings !</h3>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Testings" class="btn btn-sm btn-outline-success">Go to Testings</a>
        - Tests added by the Developer !
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Outlays" class="btn btn-sm btn-outline-success">Go to Outlays</a>
        - Outlays added by the Developer !
    </div>*@
@*</div>*@