@{
    ViewData["Title"] = "SuperUser Page";
}

<div class="card card-columns">
    <div class="card-header">
        <h3>Super User tools</h3>
    </div>
    <div class="card-footer">
        @*<a asp-action="ListRoles" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Roles</a>*@
        - Administrate personal Schedule
    </div>
    <div class="card-footer">
        @*<a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Users</a>*@
        - Administrate personal Profile
    </div>
</div>