@model RefMaster.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefNumber" class="control-label"></label>
                <input asp-for="RefNumber" class="form-control" />
                <span asp-validation-for="RefNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefTypeId" class="control-label"></label>
                <select asp-for="RefTypeId" class="form-control" asp-items="ViewBag.RefTypeId"></select>
                <span asp-validation-for="RefTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefCategoryId" class="control-label"></label>
                <select asp-for="RefCategoryId" class="form-control" asp-items="ViewBag.RefCategoryId"></select>
                <span asp-validation-for="RefCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefCategoryTypeId" class="control-label"></label>
                <select asp-for="RefCategoryTypeId" class="form-control" asp-items="ViewBag.RefCategoryTypeId"></select>
                <span asp-validation-for="RefCategoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefDistriktId" class="control-label"></label>
                <select asp-for="RefDistriktId" class="form-control" asp-items="ViewBag.RefDistriktId"></select>
                <span asp-validation-for="RefDistriktId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubId" class="control-label"></label>
                <select asp-for="ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                <span asp-validation-for="ClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
